body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header{
    background-color: #fff8f3;
    padding: 0px 120px;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-size: 50%, contain;
    background-position: bottom right, top left;
    margin: 0;
     


}
.logo{
    font-size: 25px;
}

.color-primary{
    color: #fd6e0a;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}

nav li a{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.primary-btn{
    background-color: #fd6e0a;
    border-radius: 5px;
    color: white;
    border: 0;
    padding: 7px 12px;
    cursor: pointer;
}


.menu:hover{
    background-color: #fd6e0a;
    border-radius: 5px;
    color: white;
    border: 0;
    padding: 7px 12px;
}

.menu{
    border-radius: 5px;
    border: 0;
    padding: 7px 12px;
}


.name-title{
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
}
.header-container{
    display: flex;
    align-items: center;
    margin-bottom: 0;
     

}
.header-column{
    width: 50%;
     

}
.title{
    margin: 0;
}



.header-column img{
    width: 80%;
     
    position: relative;
    top: 5px;

}

.title-description{
    margin: 30px 0;
}


